
body {
    background-color: black;
}

p, h3 {
    color: white;
}

.game-over {
    display: none;
    font-size: 64px;
    color: red;
    text-align: center;
}

canvas{
    /*background-image: url("../img/back.gif");
    background-size: 100% 100%;*/
    border:1px solid white;
}

.coins {
    display: inline-block;
    top: 25px;
    left: 50px;
    position: absolute;
}

.coin {
    display: inline-block;
    width: 24px;
    margin-left: 5px;
}