
body {
    background-color: black;
}

p, h3 {
    color: white;
}
canvas{
    border:1px solid white;
}

.coins {
    display: inline-block;
    top: 75px;
    right: 50px;
    position: absolute;
}

.coin {
    display: inline-block;
    width: 48px;
}